<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head'); %>
    <!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '599068325029989');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=599068325029989&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
  </head>
  <body class="lo-body">
    <!-- Navigation Bar -->
    <%- include('../partials/nav'); %>
    <section class="lo-section-main">
      <div class="lo-container lo-container-alert">
        <section class="lo-container-img-side">
          <div class="lo-img-wrapper lo-success">
            <i class="fa fa-check-circle" aria-hidden="true"></i>
          </div>
        </section>
        <section class="lo-container-text-side">
          <h3>Thanks for signing up!</h3>
          <p>
            Check your email for your free pdf guide. 
          </p>
        </section>
      </div>
      <a href="/">
        <span>Return home</span>
      </a>
    </section>
    <!-- Footer Section -->
    <%- include('../partials/footer'); %>
  </body>
</html>
